{% block alphatrail_faq_element %}
  {% set faqOptions = {
    items: element.config.items.value
  } %}
  
  <div
    class="alphatrail-faq"
    data-faq="true"
    data-faq-plugin-options="{{ faqOptions|json_encode }}"
  >
    <div class="top">
      <div class="faq-search">
        <input id="search-input" type="text" placeholder="Suche" />
        <button id="search-btn" type="button">Suche</button>
      </div>
      <div class="filter">
        <select name="categories" id="categories">
          <option value="pumps">Bicycle Mini Pumps</option>
          <option value="tubes">Bicycle Inner Tubes</option>
        </select>
      </div>
    </div>
  
    <div class="items">
      {% for item in element.config.items.value %}
      <div class="accordion item" role="list">
        <div
          class="faq-headline faq-trigger"
          id="title-{{ loop.index }}"
          data-bs-target="#collapse-{{ loop.index }}"
          aria-expanded="true"
          aria-controls="collapseFooterHotline"
          role="listitem"
        >
          {{ item.question|raw }}    
        </div>

        <div id="collapse-{{ loop.index }}"
          class="faq-content collapse"
          aria-labelledby="title-{{ loop.index }}"
          role="listitem"
        >
          <div class="faq-content-inner">
              {{ item.answer|raw }}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
{% endblock %}