<font face="Arial">{% set billingAddress = order.addresses.get(order.billingAddressId) %}
    {% set delivery = order.deliveries.first %} </font>

<div style="font-size:12px;">

    <p><font face="Arial"><span style="font-size:11px;">{% set currencyIsoCode = order.currency.isoCode %}<b>
    <font size="2">
	Bestellnummer: {{ order.orderNumber }}
	</font>
</b> <br>
<br>
<br>

    <font size="2">
Ihre Bestellung ist am {{ order.orderDateTime|format_datetime('medium', 'short', locale='de-DE') }} Uhr bei uns eingegangen.
Sobald ein Zahlungseingang erfolgt ist, erhalten Sie eine separate Benachrichtigung.
</font>
<br>
</span><br>
            <font size="2">


                Den aktuellen Status Ihrer Bestellung können Sie jederzeit über diesen Link
                abrufen: {{ rawUrl('frontend.account.order.single.page', { 'deepLinkCode': order.deepLinkCode }, salesChannel.domains|first.url) }}</font></font>
    </p>
    <p><span style="font-size: 11pt">
<strong><u>
Informationen zu Ihrer Bestellung</u></strong></span><u><strong><span style="font-size: 11pt">:</span></strong></u></p>

    <table border="1" cellpadding="0" cellspacing="0" style="border-collapse: collapse; border-width: 0"
           bordercolor="#111111" width="71%">
        <tr>
            <td width="47%" style="border-style: none; border-width: medium">
                <strong><font style="font-size: 10pt" face="Arial">Rechnungsadresse</font></strong></td>

            {% if billingAddress.company != delivery.shippingOrderAddress.company or
                billingAddress.firstName != delivery.shippingOrderAddress.firstName or
                billingAddress.lastName != delivery.shippingOrderAddress.lastName or
                billingAddress.additionalAddressLine1 != delivery.shippingOrderAddress.additionalAddressLine1 or
                billingAddress.additionalAddressLine2 != delivery.shippingOrderAddress.additionalAddressLine2 or
                billingAddress.street != delivery.shippingOrderAddress.street or
                billingAddress.zipcode != delivery.shippingOrderAddress.zipcode or
                billingAddress.city != delivery.shippingOrderAddress.city or
                billingAddress.country.translated.name != delivery.shippingOrderAddress.country.translated.name %}

                <td width="53%" style="border-style: none; border-width: medium">

                    <font face="Arial">

                        <strong><span style="font-size: 10pt">Lieferadresse</span></strong></font></td>
            {% endif %}

        </tr>
        <tr>
            <td width="47%" style="border-style: none; border-width: medium">
                <font style="font-size:10pt;"> <font face="Arial">{{ billingAddress.company }}<br>
                        {{ billingAddress.firstName }} {{ billingAddress.lastName }}<br>
                        {% if billingAddress.additionalAddressLine1 %}
                            {{ billingAddress.additionalAddressLine1 }}<br>
                        {% endif %}
                        {% if billingAddress.additionalAddressLine2 %}
                            {{ billingAddress.additionalAddressLine2 }}<br>
                        {% endif %}
                        {{ billingAddress.street }}<br>
                        {{ billingAddress.zipcode }} {{ billingAddress.city }}<br>
                        {{ billingAddress.country.translated.name }}</font><br></font></td>

            {% if billingAddress.company != delivery.shippingOrderAddress.company or
                billingAddress.firstName != delivery.shippingOrderAddress.firstName or
                billingAddress.lastName != delivery.shippingOrderAddress.lastName or
                billingAddress.additionalAddressLine1 != delivery.shippingOrderAddress.additionalAddressLine1 or
                billingAddress.additionalAddressLine2 != delivery.shippingOrderAddress.additionalAddressLine2 or
                billingAddress.street != delivery.shippingOrderAddress.street or
                billingAddress.zipcode != delivery.shippingOrderAddress.zipcode or
                billingAddress.city != delivery.shippingOrderAddress.city or
                billingAddress.country.translated.name != delivery.shippingOrderAddress.country.translated.name %}

                <td width="53%" style="border-style: none; border-width: medium">

                    <font face="Arial">
    <span style="font-size:10pt;"><br>
{{ delivery.shippingOrderAddress.company }}<br>
    {{ delivery.shippingOrderAddress.firstName }} {{ delivery.shippingOrderAddress.lastName }}<br>
{% if delivery.shippingOrderAddress.additionalAddressLine1 %}
    {{ delivery.shippingOrderAddress.additionalAddressLine1 }}<br>
{% endif %}
        {% if delivery.shippingOrderAddress.additionalAddressLine2 %}
            {{ delivery.shippingOrderAddress.additionalAddressLine2 }}<br>
        {% endif %}
        {{ delivery.shippingOrderAddress.street }} <br>
    {{ delivery.shippingOrderAddress.zipcode }} {{ delivery.shippingOrderAddress.city }}<br>
    {{ delivery.shippingOrderAddress.country.translated.name }}<br>
    &nbsp;</span></font></td>
            {% endif %}
        </tr>
        <tr>
            <td width="100%" style="border-style: none; border-width: medium" colspan="2">
                <strong><font face="Arial" style="font-size: 10pt"><br>
                        E-Mail-Adresse: {{ order.orderCustomer.email }}<br>
                        <br>
                        Telefonnummer: {{ billingAddress.phoneNumber }}<br>
                        {% if order.customFields %}
                            Zusatzinfos: {{ order.customFields }}
                        {% endif %}
                        {% if order.transactions.first.paymentMethod.translated.name == 'Rechnungskauf' %}
                            <br><br>
                            Sie erhalten in kürze eine seperate Email vom Zahlungsdienstleister.
                        {% endif %} </font></strong></td>
        </tr>
        <tr>
            <td width="100%" style="border-style: none; border-width: medium" colspan="2">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td width="100%" style="border-style: none; border-width: medium" colspan="2">
    <span style="font-size: 10pt"><font
                face="Arial"><b>Gewählte Zahlungsart: </b>{{ order.transactions.first.paymentMethod.translated.name }}<br>
    {{ order.transactions.first.paymentMethod.translated.description }}</font></span></td>
        </tr>
        <tr>
            <td width="100%" style="border-style: none; border-width: medium" colspan="2">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td width="100%" style="border-style: none; border-width: medium" colspan="2">
                <span style="font-size: 10pt"><b><font face="Arial">Mitteilung:</font></b><font
                            face="Arial"> {{ order.customerComment }}</font></span></td>
        </tr>
    </table>
    <p>&nbsp;</p>

    <table border="0" style="font-size:12px;width:100%">
        <tr>
            <td bgcolor="#DBDBDB" style="border-bottom:1px solid #cccccc;">
                <p align="center">
                    <font face="Arial"><strong>Art.-Nr.</strong></font></td>
            <td bgcolor="#DBDBDB" style="border-bottom:1px solid #cccccc;">
                <p align="center">
                    <font face="Arial"><strong>Produktbild</strong></font></td>
            <td bgcolor="#DBDBDB" style="border-bottom:1px solid #cccccc;">
                <font face="Arial"><strong>Bezeichnung</strong></font></td>
            <td bgcolor="#DBDBDB" style="border-bottom:1px solid #cccccc;">
                <p align="center">
                    <font face="Arial"><strong>Menge</strong></font></td>
            <td bgcolor="#DBDBDB" style="border-bottom:1px solid #cccccc;" align="center">
                <p align="right">
                    <font face="Arial"><strong>Preis</strong></font></td>
            <td bgcolor="#DBDBDB" style="border-bottom:1px solid #cccccc;" align="center">
                <p align="right">
                    <font face="Arial"><strong>Summe</strong></font></td>
        </tr>

        {% for lineItem in order.nestedLineItems %}
        {% set nestingLevel = 0 %}
        {% set nestedItem = lineItem %}
        {% block lineItem %}
        <tr>
            <td>
                <p align="center"><font
                            face="Arial">{% if nestedItem.payload.productNumber is defined %}{{ nestedItem.payload.productNumber|u.wordwrap(80) }}{% endif %}</font>
            </td>
            <td>
                <p align="center">{% if nestedItem.cover is defined and nestedItem.cover is not null %}<img
                            src="{{ nestedItem.cover.url }}" width="75" height="auto"/>{% endif %}</td>
            <td>
                <font face="Arial">{% if nestingLevel > 0 %}</font>
                <font face="Arial">{% for i in 1..nestingLevel %}</font>
                <font face="Arial">{% endfor %}</font> {% endif %}

                <div{% if nestingLevel > 0 %} style="padding-left:
                    <font face=" Arial
                ">{{ (nestingLevel + 1) * 10 }}px"{% endif %}>
                {{ nestedItem.label|u.wordwrap(80) }}
</div>

{% if nestedItem.payload.options is defined and nestedItem.payload.options|length >= 1 %}</font>
<div>
    <font face="Arial">{% for option in nestedItem.payload.options %}
            {{ option.group }}: {{ option.option }}
            {% if nestedItem.payload.options|last != option %}
                {{ " | " }}
            {% endif %}
        {% endfor %} </font>
</div>
<font face="Arial">{% endif %}
    {% if nestedItem.payload.lsOptions is defined and nestedItem.payload.lsOptions|length >= 1 %}
{% set groupedOptions = {} %}
{% for option in nestedItem.payload.lsOptions %}
    {% set setName = option.optionSet %}
    {% if groupedOptions[setName] is not defined %}
        {% set groupedOptions = groupedOptions | merge({ (setName): [] }) %}
    {% endif %}
    {% set groupedOptions = groupedOptions | merge({ (setName): groupedOptions[setName] | merge([option]) }) %}
{% endfor %}
{% for optionSetName, options in groupedOptions %}
    <div class="option-set">
        <strong>{{ optionSetName }}</strong>
        {% for option in options %}
            <div class="option-detail">
                {% if option.type == 'text' %}
                    {{ option.name }}: <strong>{{ option.value }}</strong>
                {% else %}
                    {{ option.name }}
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endfor %}
{% endif %}

    {% if nestedItem.payload.features is defined and nestedItem.payload.features|length >= 1 %}
    {% set referencePriceFeatures = nestedItem.payload.features|filter(feature => feature.type == 'referencePrice') %}
    {% if referencePriceFeatures|length >= 1 %}
    {% set referencePriceFeature = referencePriceFeatures|first %}
</font>
<div>
    <font face="Arial">{{ referencePriceFeature.value.purchaseUnit }} {{ referencePriceFeature.value.unitName }}
        ({{ referencePriceFeature.value.price|currency(currencyIsoCode) }}*
        / {{ referencePriceFeature.value.referenceUnit }} {{ referencePriceFeature.value.unitName }})
    </font>
</div>
<font face="Arial">{% endif %}
    {% endif %} </font>
</td>
<td style="text-align: center"><font face="Arial">{{ nestedItem.quantity }}</font></td>
<td>
    <p align="right"><font face="Arial">{{ nestedItem.unitPrice|currency(currencyIsoCode) }}</font></td>
<td>
    <p align="right"><font face="Arial">{{ nestedItem.totalPrice|currency(currencyIsoCode) }}</font></td>
</tr>

{% if nestedItem.children.count > 0 %}
    {% set nestingLevel = nestingLevel + 1 %}
    {% for lineItem in nestedItem.children %}
        {% set nestedItem = lineItem %}
        {{ block('lineItem') }}
    {% endfor %}
{% endif %}
        {% endblock %}
    {% endfor %}
<tr>
    <td bgcolor="#DBDBDB">&nbsp;</td>
    <td bgcolor="#DBDBDB">&nbsp;</td>
    <td bgcolor="#DBDBDB">
        &nbsp;
    </td>
    <td style="text-align: center" bgcolor="#DBDBDB">&nbsp;</td>
    <td bgcolor="#DBDBDB">&nbsp;</td>
    <td bgcolor="#DBDBDB">&nbsp;</td>
</tr>

</table>


{% set displayRounded = order.totalRounding.interval != 0.01 or order.totalRounding.decimals != order.itemRounding.decimals %}
{% set decimals = order.totalRounding.decimals %}
{% set total = order.price.totalPrice %}
{% if displayRounded %}
    {% set total = order.price.rawTotal %}
    {% set decimals = order.itemRounding.decimals %}
{% endif %}
<span style="width:65%; height:100%"></span>
<table border="1" cellpadding="0" cellspacing="0"
       style="border-collapse: collapse;width: 35%; margin-left: auto; border-width: 0" bordercolor="#111111"
       align="right">
    <tr>
        <td width="44%" style="border-style: none; border-width: medium" bgcolor="#DBDBDB">
            <p align="right">
    <span style="font-size:12px;">
    <font face="Arial">Versandkosten: <br>
    Summe (netto): </font> <br>
        <font face="Arial">{% for calculatedTax in order.price.calculatedTaxes %}
            {% if order.taxStatus is same as('net') %}zzgl.{% else %}inkl.{% endif %} {{ calculatedTax.taxRate }}% MwSt.
                <br>
            {% endfor %}
            {% if not displayRounded %} </font>
        <strong>
    <font face="Arial">{% endif %}
        Summe (brutto): </font>  </strong><font face="Arial"><br>
    {% if displayRounded %}</font> <font face="Arial">
        <strong>Gesamtkosten Brutto gerundet:  </strong></font></span></td>
        {% endif %}
        <td width="37%" style="border-style: none; border-width: medium" bgcolor="#DBDBDB">
            <p align="right">
                <font face="Arial">{% for shippingCost in order.deliveries %}
                    <span style="font-size:12px;">{{ shippingCost.shippingCosts.totalPrice|currency(currencyIsoCode) }}<br>
       {% endfor %}
                        {{ order.amountNet|currency(currencyIsoCode) }}<br>
        {% for calculatedTax in order.price.calculatedTaxes %}
            {{ calculatedTax.tax|currency(currencyIsoCode) }}<br>
        {% endfor %}
    <strong>{{ total|currency(currencyIsoCode,decimals=decimals) }}
        {% if not displayRounded %}
        </strong>
        {% endif %}
        <br>
    {% if displayRounded %}
        <strong>{{ order.price.totalPrice|currency(currencyIsoCode,decimals=order.totalRounding.decimals) }}</strong>
        <br>
    {% endif %} </span></font></td>
    </tr>
</table>
<p>
    <br>
    &nbsp;</p>
<p>
    &nbsp;</p>
<p>
    <font face="Arial">{% if order.transactions.first.paymentMethod.name == "Vorkasse" %}

            <strong>Versand der Ware nach Überweisung des Zahlbetrages an nachfolgende Bankverbindung</strong><br>
            <br>
            <strong>Kontoinhaber: Hairshop Sossenheimer</strong><br>
            <br>
            <strong>Bank: Commerzbank Frankfurt</strong><br>
            <strong>IBAN: DE06 5004 0000 0278 8990 00</strong><br>
            <strong>BIC: COBADEFFXXX</strong><br>
            <br>
            <strong>Geben Sie als Verwendungszweck bitte die Bestellnummer an.</strong><br>
        {% endif %}
        <br>

        <strong><span style="font-size: 10pt">Gewählte Versandart:</span></strong><span
                style="font-size: 10pt"> {{ delivery.shippingMethod.translated.name }}<br>
    {{ delivery.shippingMethod.translated.description }}</span></font></p>
<p>
    <font size="2" face="Arial">
        <br>


        Den aktuellen Status Ihrer Bestellung können Sie jederzeit über diesen Link
        abrufen: {{ rawUrl('frontend.account.order.single.page', { 'deepLinkCode': order.deepLinkCode }, salesChannel.domains|first.url) }}
        <br>
        <br>
        Alternativ können Sie den aktuellen Status Ihrer Bestellung auch jederzeit auf unserer Webseite im Bereich "Mein
        Konto" - "Meine Bestellungen"
        abrufen: {{ rawUrl('frontend.account.order.single.page', { 'deepLinkCode': order.deepLinkCode }, salesChannel.domains|first.url) }}
        &nbsp;</br>
    </font>
</p>
<p>
    <font size="2">
        <font face="Arial">
            <br>Für Rückfragen stehen wir Ihnen jederzeit gerne zur Verfügung. </font>
</p>
<p>
    <font face="Arial">
        <br>
        {% if order.orderCustomer.vatIds %}
            Ihre Umsatzsteuer-ID: {{ order.orderCustomer.vatIds|first }}
            Bei erfolgreicher Prüfung und sofern Sie aus dem EU-Ausland
            bestellen, erhalten Sie Ihre Ware umsatzsteuerbefreit. <br>
        {% endif %} </font> </font>
</p>
<p>
    &nbsp;</p>
<p><font face="Arial"><font size="2"><br>
            <br/>
        </font>
        <b><font size="2">Kontakt: <br>
                <br> </font> <font style="font-size: 10pt">Hairshop Sossenheimer</font></b><font size="2"> I Inhaber:
            Dirk Sossenheimer
            I Mittelweg 1 I 65779 Kelkheim<br>
            Tel.: +49(0) 6195 - 51 55 oder 0800 - 36 09 000 (0,00€/Min.) I Fax:&nbsp;
            +49 (0) 6195 - 90 38 26<br>
            <br> E-Mail: info@sossenheimer.de</font><br></font></p>
<p>&nbsp;</p>
<font face="Arial">
    <br>
</font>
</div>